@font-face {
  font-family: Raleway;
  src: url("./public/font/Raleway-VariableFont_wght.ttf");
}
:root {
  --main-color: #f28585;
  --second-color: #f2c6c2;
  --third-color: #f2e8df;
  --accent-color: #86a69d;
  --card-bg-color: #e6ddd5;

  --desktop-text-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: Roboto, "Arial", sans-serif;
  color: black;
  font-size: var(--desktop-text-size);
}
html,
body {
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
  min-height: 100vh;
  overflow: auto;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-family: Raleway, "Arial", sans-serif;
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
span,
button,
p,
a {
  font-size: 1.5rem;
}

p {
    padding-top: 10px;
  }
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 50%;
}

input,
textarea {
  border: 1px solid var(--accent-color);
  background-color: var(--card-bg-color);
  width: 100%;
  height: 65px;
  padding: 10px;
  border-radius: 16px;
}

input:hover,
textarea:hover {
  border: 2px solid var(--accent-color);
}

input:focus,
textarea:focus {
  outline: 2px solid var(--accent-color);
  
}

textarea {
  resize: none;
  height: 120px;
}
header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85px;
  padding-left: 25px;
}
header p {
  font-family: Raleway, "Arial", sans-serif;
}
nav {
  display: inherit;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 20px 50px;
  background-color: var(--accent-color);
  border-radius: 0px 0px 0px 16px;
  gap: 47px;
  
}
nav a {
  color: white;
}


.menu-toggle {
  display: none; 
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  padding: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.3s ease;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex: 1;
}

footer {
  height: 85px;
  background-color: var(--main-color);
  border-radius: 16px 16px 0px 0px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

#theme-toggle {
  background-color: transparent;
}

body.light-mode {
  --main-color: #f28585;
  --second-color: #f2c6c2;
  --third-color: #f2e8df;
  --accent-color: #86a69d;
  --card-bg-color: #e6ddd5;
  --desktop-text-size: 16px;
  color: white;
}

body.light-mode header,
body.light-mode nav,
body.light-mode footer {
  background-color: var(--main-color);
}

body.light-mode .button {
  background-color: var(--accent-color);
}

body.light-mode .card {
  background-color: var(--third-color);
  border: 1px solid var(--accent-color);
}

body.light-mode .profile-container {
  background-color: var(--third-color);
}

body.light-mode input,
body.light-mode textarea {
  background-color: var(--card-bg-color);
  border: 1px solid var(--accent-color);
}

body.light-mode .pdf-frame,
body.light-mode .container-pdf {
  background-color: var(--card-bg-color);
  border: 1px solid var(--accent-color);
}

body.dark-mode {
  --main-color: #1a1a1a;
  --second-color: #2e2e2e;
  --third-color: #3c3c3c;
  --accent-color: #5a5a5a;
  --card-bg-color: #4a4a4a;
  --desktop-text-size: 16px;
  color: white;
}

body.dark-mode header,
body.dark-mode nav,
body.dark-mode footer {
  background-color: var(--main-color);
}

body.dark-mode .button {
  background-color: var(--accent-color);
}

body.dark-mode .card {
  background-color: var(--third-color);
  border: 1px solid var(--accent-color);
}

body.dark-mode .profile-container {
  background-color: var(--third-color);
}

body.dark-mode input,
body.dark-mode textarea {
  background-color: var(--card-bg-color);
  border: 1px solid var(--accent-color);
}

body.dark-mode .pdf-frame,
body.dark-mode .container-pdf {
  background-color: var(--card-bg-color);
  border: 1px solid var(--accent-color);
}

body.dark-mode p,
body.dark-mode b,
body.dark-mode h2,
body.dark-mode h1 {
  color: white;
}


footer p {
  text-align: center; 
  padding: 20px;
}
.profile-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: var(--third-color);
  gap: 30px;
  border-radius: 8px;

}
.profile-container img {
  width: 100%; 
  height: auto; 
  display: block; 
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.profile-info h2 {
  font-weight: lighter;
}
.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inicio-image img {
  flex-shrink: 1;
  min-width: 100%;
  min-height: 100%;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 40px;
  gap: 10px;
  border-radius: 8px;
  background-color: var(--accent-color);
  color: white;
  transition: transform 0.3s ease;
  
}

.button:hover {
  transform: scale(1.05);
}
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 18px;
  margin-bottom: 40px;
  gap: 30px;
  background-color: var(--card-bg-color);
  border-radius: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 0 auto;
  background-color: var(--third-color);
  border: 1px solid var(--accent-color);
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
}

.card p {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
}
.pdf-viewer {
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color: white;
}

.p-about-me {
  width: 50%; 
  margin: 0 auto; 
  text-align: center; 
}

.pdf-frame {
  width: 75%;
  height: 600px; 
  border: 1px solid #ddd;
  background-color: var(--card-bg-color);
  display: flex;
  margin: auto;
  
  
}
.container-pdf {
  display: flex;
  width: 80%;
  height: 700px; 
  border: 1px solid #ddd;
  background-color: var(--card-bg-color);
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  
}

embed {
  width: 100%;
  height: 100%;
  border: none;
}
.cv-img {
  display: none;
}

@media (max-width: 430px) {
  h1 {
    font-size: 2rem; 
  }

  h2 {
    font-size: 1.5rem;
  }

  span,
  button,
  p,
  a {
    font-size: 0.875rem; 
  }

 
  form {
    width: 90%; 
  }

  /* menu borguesa*/
  .menu-toggle {
    display: flex;
  }

  main {
    gap: 10px;

  }
  body {
    overflow-y: auto;
  }
  nav {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px; 
    right: 10px;
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 8px;
    gap: 5px;
    width: 100px;
    height: auto;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    margin: 0;
    
  }

  nav.active {
    display: flex; 
  }

 
  .menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }

  .cards-container {
    flex-direction: column; 
    gap: 15px; 
    overflow-x: auto;
    width: 100%;
  }

  .button {
    width: 150px; 
    height: 40px; 
  }

  .p-about-me {
    width: 90%; 
  }

  .profile-container {
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    width: 100%;
    align-items: center;
  }

  .pdf-frame {
    display: none;
    width: 100%;
    height: 600px; 
    border: 1px solid #ddd;
    background-color: var(--card-bg-color);
    display: flex;
    margin: auto;
  }
  
  .container-pdf {
    display: flex;
    width: 100%;
    height: auto; 
    border: 1px solid #ddd;
    background-color: var(--card-bg-color);
    justify-content: center;
    align-items: center;
    border-radius: 16px;
  }
  
  embed {
    width: 100%;
    height: 100%;
    border: none;
    display: none;
  }

  .cv-img {
    width: 100%;
    display: block;
  }
}

